In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
financial_loan = pd.read_csv('financial_loan.csv')

In [7]:
financial_loan.head(2)

,id,address_state,application_type,emp_length,emp_title,grade,home_ownership,issue_date,last_credit_pull_date,last_payment_date,...,sub_grade,term,verification_status,annual_income,dti,installment,int_rate,loan_amount,total_acc,total_payment
0,1077430,GA,INDIVIDUAL,< 1 year,Ryder,C,RENT,11-02-2021,13-09-2021,13-04-2021,...,C4,60 months,Source Verified,30000.0,0.0100,59.83,0.1527,2500,4,1009
1,1072053,CA,INDIVIDUAL,9 years,MKC Accounting,E,RENT,01-01-2021,14-12-2021,15-01-2021,...,E1,36 months,Source Verified,48000.0,0.0535,109.43,0.1864,3000,4,3939

Loan ID: Unique identifier for tracking loans, aiding in efficient management.

Address State: Indicates borrower location, helping assess risk factor.

Employee Length: Provides insights into employment stabilty.

Employee Title: Specifies borrower's occupation for income verifiction.

Grade: Classification based on creditworthiness, used for risk mangement.

Sub Grade: Refines risk assessment withi a grade.

Home Ownership: Indicates housing status, offering financial stabiliy insights.
When was the loan given to the particular candidate?ing purposes.

Last Credit Pull Date: Records last credit report accessfor monitoring.

Last Payment Date: Marks most recent payment, trackin payment history.

Loan Status: Indicates current loan state, aiding in perormance monitoring.

Next Payment Date: Estimates next paymentdate for forecasting.

Purpose: Specifies loan reason, iding in customization.

Term: Defines loan duration, use for agreement structure.

Verification Status: Indicats data verification status.

Annual Income: Reflects yearly earnins for eligibility assessment.

DTI (Debt-to-Income Ratio): Measures Analysis of this value will help bankers determine whether to approve or deny a loan for the client.dInstallment relative to income.

Instalment: Fied monthly payment for repayment.

Interest Rate: Annual borowing cost, used for loan pricing.

Loan Amount: Total bo
Total payment= Amount paid back by the client to the bank defining principal amount.

## 1. Total no of loan applications

In [9]:
total_applications = financial_loan['id'].count()
print("Total_Applications:", total_applications)

Total_Applications: 38576

## 2. Total no of loan application issued for all 12 months

In [16]:
financial_loan['issue_date'] = pd.to_datetime(financial_loan['issue_date'], format='%d-%m-%Y')
# Count the number of applications for each month
monthly_loan_counts = financial_loan.groupby(financial_loan['issue_date'].dt.month)['id'].count()
print(monthly_loan_counts)

issue_date
1     2332
2     2279
3     2627
4     2755
5     2911
6     3184
7     3366
8     3441
9     3536
10    3796
11    4035
12    4314
Name: id, dtype: int64

## 3. Total Funded Amount

In [18]:
total_funded_amount = financial_loan['loan_amount'].sum()
print("Total Funded Amount:", total_funded_amount)

Total Funded Amount: 435757075

## 4. Loan amount funded for every month

In [20]:
financial_loan['issue_date'] = pd.to_datetime(financial_loan['issue_date'], format='%d-%m-%Y')
monthly_funded_amounts = financial_loan.groupby(financial_loan['issue_date'].dt.month)['loan_amount'].sum()
monthly_funded_amounts.index = pd.to_datetime(monthly_funded_amounts.index, format='%m').month_name()
print(monthly_funded_amounts)

issue_date
January      25031650
February     24647825
March        28875700
April        29800800
May          31738350
June         34161475
July         35813900
August       38149600
September    40907725
October      44893800
November     47754825
December     53981425
Name: loan_amount, dtype: int64

## 5. Total amount received by bank or paid back by customers

In [22]:
total_amount_collected = financial_loan['total_payment'].sum()
print("Total Amount Collected:", total_amount_collected)

Total Amount Collected: 473070933

## 6. Total amount received by the bank or paid back by customers every months

In [23]:
financial_loan['issue_date'] = pd.to_datetime(financial_loan['issue_date'], format='%d-%m-%Y')
# Group by month and sum the total payments, and rename the index to month names
monthly_amount_collected = financial_loan.groupby(financial_loan['issue_date'].dt.month)['total_payment'].sum()
monthly_amount_collected.index = pd.to_datetime(monthly_amount_collected.index, format='%m').month_name()
print(monthly_amount_collected)

issue_date
January      27578836
February     27717745
March        32264400
April        32495533
May          33750523
June         36164533
July         38827220
August       42682218
September    43983948
October      49399567
November     50132030
December     58074380
Name: total_payment, dtype: int64

## 7. Average Interest Rate

In [27]:
avg_int_rate = round(financial_loan['int_rate'].mean() * 100, 2)
print("Average Interest Rate (%):", avg_int_rate)

Average Interest Rate (%): 12.05

## 8. Average Interest Rate for every months

In [29]:
financial_loan['issue_date'] = pd.to_datetime(financial_loan['issue_date'], format='%d-%m-%Y')
monthly_avg_int_rate = financial_loan.groupby(financial_loan['issue_date'].dt.month)['int_rate'].mean() * 100
monthly_avg_int_rate.index = pd.to_datetime(monthly_avg_int_rate.index, format='%m').month_name()
print(monthly_avg_int_rate)

issue_date
January      11.461887
February     11.721632
March        11.858291
April        11.740907
May          12.257795
June         12.274243
July         12.237237
August       12.300235
September    12.003232
October      12.024123
November     11.941717
December     12.356041
Name: int_rate, dtype: float64

## 9. Factors that determine whether a client is eligible for loan or not.

In [32]:
avg_dti = financial_loan['dti'].mean() * 100
print("Average DTI (%):", avg_dti)

Average DTI (%): 13.327433119037742

## 10. For all 12 months

In [34]:
financial_loan['issue_date'] = pd.to_datetime(financial_loan['issue_date'], format='%d-%m-%Y')
monthly_avg_dti = financial_loan.groupby(financial_loan['issue_date'].dt.month)['dti'].mean() * 100
monthly_avg_dti.index = pd.to_datetime(monthly_avg_dti.index, format='%m').month_name()
print(monthly_avg_dti)

issue_date
January      12.936985
February     13.409329
March        13.215615
April        13.219361
May          13.333744
June         13.243781
July         13.294816
August       13.353232
September    13.297848
October      13.414381
November     13.302734
December     13.665538
Name: dti, dtype: float64

## Checking the unique values

In [35]:
unique_loan_status = financial_loan['loan_status'].unique()
print(unique_loan_status)

['Charged Off' 'Fully Paid' 'Current']

 "Fully Paid" signifies clients who have already repaid their loans, indicating a positive outcome for the bank. These loans are regarded as good loans.
"Current" indicates that the client is currently repaying the loan, reflecting a positive loan status. 
"Charged Off" indicates that the client has failed to repay the loan, resulting in a loss for the bank.

## 11. Good loan percentage

In [36]:
good_loan_percentage = ((financial_loan['loan_status'].isin(['Fully Paid', 'Current'])).sum() / len(financial_loan['id'])) * 100.0
print("Good Loan Percentage:", good_loan_percentage)

Good Loan Percentage: 86.17534218166736

## Good Loan Application

In [37]:
good_loan_applications = financial_loan[(financial_loan['loan_status'] == 'Fully Paid') | (financial_loan['loan_status'] == 'Current')]['id'].count()
print("Good Loan Applications:", good_loan_applications)

Good Loan Applications: 33243

## Good loan Funded Amount

In [38]:
good_loan_funded_amount = financial_loan.loc[financial_loan['loan_status'].isin(['Fully Paid', 'Current']), 'loan_amount'].sum()

print("Good Loan Funded Amount:", good_loan_funded_amount)

Good Loan Funded Amount: 370224850

## Good loan amount received

In [49]:
good_loan_amount_received = financial_loan.loc[financial_loan['loan_status'].isin(['Fully Paid', 'Current']), 'total_payment'].sum()

print("Good Loan Amount Received:", good_loan_amount_received)

Good Loan Amount Received: 435786170

## 12.Bad loan percentage

In [40]:
bad_loan_percentage = ((financial_loan['loan_status'] == 'Charged Off').sum() / len(financial_loan['id'])) * 100.0

print("Bad Loan Percentage:", bad_loan_percentage)

Bad Loan Percentage: 13.824657818332643

## Bad Loan Applications

In [41]:
bad_loan_applications = financial_loan[financial_loan['loan_status'] == 'Charged Off']['id'].count()

print("Bad Loan Applications:", bad_loan_applications)

Bad Loan Applications: 5333

## Bad Loan Funded Amount

In [42]:
bad_loan_funded_amount = financial_loan.loc[financial_loan['loan_status'] == 'Charged Off', 'loan_amount'].sum()

print("Bad Loan Funded Amount:", bad_loan_funded_amount)

Bad Loan Funded Amount: 65532225

## Bad Loan Amount Received

In [43]:
bad_loan_amount_received = financial_loan.loc[financial_loan['loan_status'] == 'Charged Off', 'total_payment'].sum()

print("Bad Loan Amount Received:", bad_loan_amount_received)

Bad Loan Amount Received: 37284763

In [45]:
loan_status_summary = financial_loan.groupby('loan_status').agg(
    LoanCount=('id', 'count'),
    Total_Amount_Received=('total_payment', 'sum'),
    Total_Funded_Amount=('loan_amount', 'sum'),
    Interest_Rate=('int_rate', lambda x: (x * 100).mean()),
    DTI=('dti', lambda x: (x * 100).mean())
).reset_index()

print(loan_status_summary)

   loan_status  LoanCount  Total_Amount_Received  Total_Funded_Amount  \
0  Charged Off       5333               37284763             65532225
1      Current       1098               24199914             18866500
2   Fully Paid      32145              411586256            351358350

   Interest_Rate        DTI
0      13.878575  14.004733
1      15.099326  14.724344
2      11.641071  13.167351

In [46]:
mtd_loan_summary = financial_loan[financial_loan['issue_date'].dt.month == 12].groupby('loan_status').agg(
    MTD_Total_Amount_Received=('total_payment', 'sum'),
    MTD_Total_Funded_Amount=('loan_amount', 'sum')
).reset_index()

print(mtd_loan_summary)

   loan_status  MTD_Total_Amount_Received  MTD_Total_Funded_Amount
0  Charged Off                    5324211                  8732775
1      Current                    4934318                  3946625
2   Fully Paid                   47815851                 41302025

In [48]:
loan_summary_by_state = financial_loan.groupby('address_state').agg(
    State=('address_state', 'first'),
    Total_Loan_Applications=('id', 'count'),
    Total_Funded_Amount=('loan_amount', 'sum'),
    Total_Amount_Received=('total_payment', 'sum')
).reset_index(drop=True)

# Sort the DataFrame by address_state
loan_summary_by_state = loan_summary_by_state.sort_values('State')

print(loan_summary_by_state)

   State  Total_Loan_Applications  Total_Funded_Amount  Total_Amount_Received
0     AK                       78              1031800                1108570
1     AL                      432              4949225                5492272
2     AR                      236              2529700                2777875
3     AZ                      833              9206000               10041986
4     CA                     6894             78484125               83901234
5     CO                      770              8976000                9845810
6     CT                      730              8435575                9357612
7     DC                      214              2652350                2921854
8     DE                      110              1138100                1269136
9     FL                     2773             30046125               31601905
10    GA                     1355             15480325               16728040
11    HI                      170              1850525                2080184
12    IA                        5                56450                  64482
13    ID                        6                59750                  65329
14    IL                     1486             17124225               18875941
15    IN                        9                86225                  85521
16    KS                      260              2872325                3247394
17    KY                      320              3504100                3792530
18    LA                      426              4498900                5001160
19    MA                     1310             15051000               16676279
20    MD                     1027             11911400               12985170
21    ME                        3                 9200                  10808
22    MI                      685              7829900                8543660
23    MN                      592              6302600                6750746
24    MO                      660              7151175                7692732
25    MS                       19               139125                 149342
26    MT                       79               829525                 892047
27    NC                      759              8787575                9534813
28    NE                        5                31700                  24542
29    NH                      161              1917900                2101386
30    NJ                     1822             21657475               23425159
31    NM                      183              1916775                2084485
32    NV                      482              5307375                5451443
33    NY                     3701             42077050               46108181
34    OH                     1188             12991375               14330148
35    OK                      293              3365725                3712649
36    OR                      436              4720150                4966903
37    PA                     1482             15826525               17462908
38    RI                      196              1883025                2001774
39    SC                      464              5080475                5462458
40    SD                       63               606150                 656514
41    TN                       17               162175                 141522
42    TX                     2664             31236650               34392715
43    UT                      252              2849225                2952412
44    VA                     1375             15982650               17711443
45    VT                       54               504100                 534973
46    WA                      805              8855525                9531739
47    WI                      446              5070450                5485161
48    WV                      167              1830525                1991936
49    WY                       79               890750                1046050